body {
    font-family: 'Cairo', sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 0;
    padding-top: 60px; /* إضافة مسافة للمحتوى تحت الـ navbar */
}

.notify-container {
    width: 60%;
    max-width: 750px;
    min-height: 500px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    direction: rtl;
}

.notify_count {
    margin-right: 10px;
}

.read-notification-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 90%; /* لتحديد ارتفاع القائمة */
    overflow-y: none; /* لإظهار شريط التمرير عند الحاجة */
}
